/* COMPONENT WRAPPER */

.company-NavBar-form {
  height: fit-content;
  width: 100%;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 20px;
  margin: 1rem 3rem;
}

.layout-wrapper {
}

/* BARRE DE PROGRESSION */

.circle {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #8b8b8b;
  color: white;
  border-radius: 50%;
}
.circlewrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps {
  color: gray;
  text-align: center;
  font-weight: lighter;
  font-size: 13px;
}

.stepblock.selected .steps {
  font-weight: bolder;
  color: #1b2430;
}

.stepWrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.stepblock .circlewrapper {
  padding: 0px 50px;
  position: relative;
}
.stepblock.selected .circle {
  background-color: #02e494;
  border-color: #02e494;
}
.progressbar {
  height: 6px;
  background-color: #1b2430;
  border: none;
  display: flex;
  width: 100%;
  margin: auto;
  transform: translateY(80px);
}

/* ---------------------------------------------------------------------------- */

/*FORMULAIRE WRAPPER */

.form-wrapper {
  width: 100%;
  background-color: #f5f5f5;
}

/* BUTTONS */

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#primarybutton {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  background-color: #02e494;
  border: none;
  margin: 2rem 3rem;
  color: white;
  border-radius: 16px;
  cursor: pointer;
}

#back-btn {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 25px;
  color: #8b8b8b;
  background-color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}
