.navbar-layout {
  width: 300px;
  padding-top: 1.5rem;
  background-color: var(--MainColor);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-items {
  margin-top: 3rem;
}

.menu-items li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0;
  justify-content: center;
  color: var(--color2);
  font-weight: bold;
}
.menu-items li img {
  margin-right: 1rem;
}

.active {
  margin-right: -90px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 300px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: var(--color2);
  color: var(--color3);
  font-weight: bold;
}

.inactive {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0;
  justify-content: center;
}
