@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --title-font: "Poppins", sans-serif;
  --title-size: 36px;
  --text-font: "Poppins", sans-serif;
  --text-size: 18px;
  line-height: 27px;
  box-sizing: border-box;
  --MainColor: #14705a;
  --color2: #ffffff;
  --color3: #02e494;
  --labelbackground: #8b8b8b;
  --border-radius-layout: 20px;
  --border-radius-label: 40px;
  --border-radius-button: 16px;
  --box-shadow: 0px 20px 50px rgba(191, 21, 108, 0.05);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--title-font);
  font-weight: 700;
}
p {
  font-family: var(--text-font);
  font-weight: 400;
}
li,
a {
  list-style-type: none;
  text-decoration: none;
}

/* VARIABLES GLOBALES */
body {
  background-color: var(--color2);
}
